<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>社員詳細</title>
	<meta charset="UTF-8" />
</head>

<body>
	<h1>社員詳細</h1>
	<h2 th:text="${employeeDetail.name}"></h2>
	<div>
		<form action="/addAttendance" method="post">
			<input type="hidden" name="id" th:value="${employeeDetail.id}">
			<button type="submit" name="submit" value="in">出勤</button>
			<button type="submit" name="submit" value="break_start">休憩開始</button>
			<button type="submit" name="submit" value="break_end">休憩終了</button>
			<button type="submit" name="submit" value="out">退勤</button>
		</form>
	</div>
	<table>
		<thead>
			<tr>
				<th>出勤日時</th>
				<th>休憩開始日時</th>
				<th>休憩終了日時</tth>
				<th>退勤日時</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${employeeDetail.attendace?.clockIn}"></td>
				<td th:text="${employeeDetail.attendace?.breakStart}"></td>
				<td th:text="${employeeDetail.attendace?.breakEnd}"></td>
				<td th:text="${employeeDetail.attendace?.clockOut}"></td>
			</tr>
		</tbody>
	</table>
	<button><a th:href="@{/attendanceTable}">社委員一覧</a></button>
</body>

</html>