<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>社員詳細</title>
	<meta charset="UTF-8" />
</head>
<body>
	<h1 th:text=""></h1>
	<form action="clocks" method="post">
		<button type="submit" formaction="attendace">出勤</button>
		<button type="submit" formaction="restStart">休憩開始</button>
		<button type="submit" formaction="restEnd">休憩終了</button>
		<button type="submit" formaction="leaving">退勤</button><br>
		<table>
			<tr th:if="${!#lists.isEmpty(clock)}" th:each="clock : ${attendClockList}">
				<thead>
					<td>出勤日時</td>
					<td>休憩開始日時</td>
					<td>休憩終了日時</td>
					<td>退勤日時</td>
				</thead>
				<tbody>
					<td th:text="${clock.clock_in}"></td>
					<td th:text="${clock.break_start}"></td>
					<td th:text="${clock.break_end}"></td>
					<td th:text="${clock.clock_out}"></td>
				</tbody>
			</tr>
		</table>
		<button type="submit" formaction="attendanceTable">社員一覧へ</button>
	</form>
</body>