<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>社員一覧</title>
	<meta charset="UTF-8" />
</head>

<body>
	<h1>社員一覧</h1>
	<table>
		<thead>
			<tr>
				<th>No</th>
				<th>氏名</th>
				<th>出身地</th>
				<th>入社月</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee, status : ${employeeList}" th:if="${status.index % 4 == 0}">
				<td th:text="${employee}"></td>
				<td th:text="${employeeList[status.index + 1]}"></td>
				<td th:text="${employeeList[status.index + 2]}"></td>
				<td th:text="${employeeList[status.index + 3]}"></td>
				<td><a th:href="@{'/attendaceDetails/' + ${employee}}">詳細</a></td>
			</tr>
		</tbody>
	</table>
	<button><a th:href="@{/attendanceNew}">新規登録へ</a></button>

</body>

</html>